<!DOCTYPE html>
<html>
<head>
    <title>会员表</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:sysmem:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:sysmem:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:sysmem:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>

            <a class="btn btn-primary" @click="del"><i class="fa fa-arrow-circle-down"></i>&nbsp;导入人员信息</a>
            <a @click="importInfo" class="btn btn-primary" data-toggle="tooltip" data-placement="left" ><i class="fa fa-folder-open-o"></i> 批量导入</a>

            <div id="importBox" v-show="!true">
                <form id="importForm" method="post" enctype="multipart/form-data"
                      style="padding-left:20px;text-align:center;"><br/>
                    <input id="importFile" name="file" type="file" style="width:330px"/>仅允许导入“xls”或“xlsx”格式文件！<br/>　　
                </form>
</div>

</div>

        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="sysMem.name" placeholder="名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">类型</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="sysMem.type" placeholder="类型"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">身份证号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="sysMem.card" placeholder="身份证号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">简介</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="sysMem.summary" placeholder="简介"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">排序</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="sysMem.orderNum" placeholder="排序"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">备注</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="sysMem.remark" placeholder="备注"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">删除标记  -1：已删除  0：正常</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="sysMem.delFlag" placeholder="删除标记  -1：已删除  0：正常"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/sysmem.js?_${.now?long}"></script>
</body>
</html>